@use '../../styles/variables' as *;

.paper {
  position: relative;
  height: 250px;
  border-radius: 10px;
  overflow: hidden;

  &:hover {
    .text {
      transform: translateY(-2px);
    }
  }
}

.text {
  z-index: 1;
  position: absolute;
  top: 50%;
  left: 20px;
  text-align: center;
  text-decoration: none;
  font-size: 32px;
  font-weight: 600;
  transition: all 0.2s ease;
}

.imageContainer {
  display: flex;
  justify-content: end;
  height: 100%;
}

.image {
  max-height: 100%;
  object-fit: cover;
}

.gradient {
  position: absolute;
  inset: 0px;
}

.pink {
  background-color: $color-pink;

  .text {
    color: $color-black;
  }

  .gradient {
    background: linear-gradient(to right,
        rgb(213, 191, 186) 0%,
        rgb(213, 191, 186, 0) 100%) center center / cover;
  }
}

.black {
  background-color: $color-black;

  .text {
    color: $color-white;
  }

  .gradient {
    background: linear-gradient(to right,
        rgb(21, 21, 28) 0%,
        rgba(21, 21, 28, 0) 100%) center center / cover;
  }
}

.tape {
  position: absolute;
  width: 100%;
  z-index: 2;
}

.tape:first-of-type {
  top: 0;
}

.tape:last-of-type {
  bottom: 0;
}

.tape::before,
.tape::after {
  content: '';
  width: 10vmin;
  height: 4vmin;
  position: absolute;
  background-color: $color-gray;
  opacity: 0.5;
  border-right: 1px dotted $color-dark-gray;
  border-left: 1px dotted $color-dark-gray;
}

.tape:last-of-type::after {
  transform: rotate(-45deg);
  right: -4vmin;
  top: -3vmin;
}

.tape:first-of-type::before {
  transform: rotate(-45deg);
  left: -4vmin;
}

.tape:first-of-type::after {
  transform: rotate(45deg);
  right: -4vmin;
  top: 0;
}

.tape:last-of-type::before {
  transform: rotate(45deg);
  left: -4vmin;
  bottom: 0;
}