// === Typography Variables (Material Design) ===
@use './font.scss';

// Font Families
$font-family-primary: 'Epilogue', serif;

// Colors
$color-pink: #dd9f92;
$color-dark-pink: #e26139;
$color-white: #fffdf7;
$color-black: #3b3b3b;
$color-gray: #dbd8be;
$color-dark-gray: #b7b49d;
$color-tan: #d6d2cd;
$color-dark-tan: #a9a5a0;
