@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.footer {
  margin-top: -60px;
  padding: 80px 32px 32px;
  clip-path: polygon(0 0, 100% 60px, 100% 100%, 0 100%);
  background-color: $color-gold;

  @include media(md) {
    padding: 100px 32px 32px;
  }
}

.footerWrapper {
  display: flex;
  flex-direction: column;
  gap: 48px;

  @include media(md) {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: 64px;
  }
}

.footerContent {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;

  @include media(md) {
    grid-template-columns: 1fr 1fr;
  }
}

.footerBlock {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
}

.titleSmall {
  color: $color-black;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
}

.footerLink {
  color: $color-black;
  text-transform: capitalize;
  margin: 0;
  font-size: 14px;
  font-weight: 300;
  text-decoration: none;
  transition: all 0.3s;
  border-radius: 4px;

  &:hover {
    color: $color-black;
    font-weight: 500;
    text-decoration: underline;
  }

  &:focus {
    outline: 2px solid $color-black;
    outline-offset: 3px;
  }

  &:focus:not(:focus-visible) {
    outline: none;
  }

  &:focus-visible {
    outline: 2px solid $color-black;
    outline-offset: 3px;
  }
}

.copyright {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 64px;
  padding-top: 24px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  margin-left: auto;
  margin-right: auto;

  @include media(md) {
    margin-top: 80px;
    padding-top: 32px;
  }
}

.copyrightText {
  margin-left: 8px;
  text-align: center;
  font-size: 12px;
  color: $color-black;
}